@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
<div>
    <table>
        <tbody>
        <tr data-bind="foreach: sounds">
            <td data-bind="name">
                
            </td>
            <td data-bind="biome">
                
            </td>
            <td>

            </td>
            <td>

            </td>
            <td>
@*                 <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a> *@
            </td>
        </tr>
        </tbody>
    </table>
</div>