@model WebApi.Entities.User;
@using WebApi.Services;
@using System.Threading.Tasks; 

<link rel="stylesheet" href="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.13.6/b-2.4.1/sl-1.7.0/datatables.min.css" />
<link rel="stylesheet" href="Editor-2.2.2/css/editor.dataTables.css">

<script src="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.13.6/b-2.4.1/sl-1.7.0/datatables.min.js"></script>
<script src="Editor-2.2.2/js/dataTables.editor.js"></script>

@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "../../Views/Shared/_Layout.cshtml";
}﻿

<h2 style="padding-bottom: 20vh">Aquatics DB</h2>

<partial name="authorizationInfo.cshtml" />
<partial name="databaseManagement.cshtml" />

