@model WebApi.Entities.User;
@using WebApi.Services;
@using System.Threading.Tasks; 

<link rel="stylesheet" href="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.13.6/b-2.4.1/sl-1.7.0/datatables.min.css" />
<link rel="stylesheet" href="Editor-2.2.2/css/editor.dataTables.css">

<script src="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.13.6/b-2.4.1/sl-1.7.0/datatables.min.js"></script>
<script src="Editor-2.2.2/js/dataTables.editor.js"></script>

@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "../../Views/Shared/_Layout.cshtml";
}﻿
@{
    ViewBag.Title = "Aquatics";
}
<h2 style="padding-bottom: 20vh">Aquatics DB</h2>

@{
    var data = ViewBag.UserData;
}

<h2>Welcome @data.FirstName</h2>
<p id="permissionValue"style="visibility: hidden">@data.Permission</p>
<h6>User Permission: <span data-bind="text: permission"></span></h6>
<h6>You are able to: <span data-bind="text: permissionDescription"></span></h6>
<div>
    <div>
        <button class="btn btn-primary" data-toggle="modal" data-target="#addRecordModal">Add Record</button>
        <div id="addRecordModal" class="modal w-auto" tabindex="-1" role="dialog">
            <div class="container mt-5">
                @* data-bind="submit: addRecord" *@
                 <form data-bind="submit: addRecord" method="post" class="w-auto">
                    <div class="form-row">
                        <input type="text" value=23 data-bind="value: dbId" hidden />
                        <div class="col-4 form-group">
                            <label class="sr-only" for="name">Name</label>
                            <input type="text" class="col form-control" data-bind="value: dbName" placeholder="Record Name">
                        </div>
                        <div class="col-2 form-group">
                            <label class="sr-only" for="latitude">Latitude</label>
                            <input type="text" class="col form-control" data-bind="value: dbCoordinateX" placeholder="Latitude">
                        </div>
                        <div class="col-2 form-group">
                            <label class="sr-only" for="longitude">Longitude</label>
                            <input type="text" class="col form-control" data-bind="value: dbCoordinateY" placeholder="Longitude">
                        </div>
                        <div class="col-4 form-group">
                            <label class="sr-only" for="width">Width</label>
                            <input type="text" class="col form-control" data-bind="value: dbWidthM" placeholder="Width (Meters)">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-2 form-group">
                            <label class="sr-only" for="depth">Depth</label>
                            <input type="text" class="col form-control" data-bind="value: dbDepthM" placeholder="Depth (Meters)">
                        </div>
                        <div class="col-4 form-group">
                            <label class="sr-only" for="wildLife">Wildlife</label>
                            <input type="text" class="col form-control" data-bind="value: dbWildlife" placeholder="Wildlife">
                        </div>
                        <div class="col-2 form-group">
                            <label class="sr-only" for="environmentBiome">Environment Biome</label>
                            <input type="text" class="col form-control" data-bind="value: dbBiome" placeholder="Biome">
                        </div>
                        <div class="col-4 form-group">
                            <label class="sr-only" for="waterHealth">Water Health</label>
                            <input type="text" class="col form-control" data-bind="value: dbWaterHealth" placeholder="Water Health">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-2 form-group">
                            <label class="sr-only" for="windSpeed">Wind Speed (KPH)</label>
                            <input type="text" class="col form-control" data-bind="value: dbSpeed" placeholder="Wind Speed">
                        </div>
                        <div class="col-3 form-group">
                            <label class="sr-only" for="oceanicCurrents">Oceanic Currents</label>
                            <input type="text" class="col form-control" data-bind="value: dbCurrents" placeholder="Currents">
                        </div>
                        <div class="col-3 form-group">
                            <label class="sr-only" for="tides">Tides</label>
                            <input type="text" class="col form-control" data-bind="value: dbTides" placeholder="Tides">
                        </div>
                        <div class="col-4 form-group">
                            <label class="sr-only" for="invasiveSpecies">Invasive Species</label>
                            <input type="text" class="col form-control" data-bind="value: dbInvasiveSpecies" placeholder="Invasive Species">
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="input-group col-6">
                            <div class="input-group-prepend">
                                 <span class="input-group-text" id="basic-addon1">Residential Land</span>
                            </div>
                            <select class="col-8 form-select" data-bind="value: dbIsResidential" aria-label="Residential">
                                <option>true</option>
                                <option>false</option>
                            </select>
                        </div>
                        <div class="input-group col-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Public Land</span>
                            </div>
                            <select class="col-8 form-select" data-bind="value: dbIsPublicLands" aira-label="Public Lands">
                                <option>true</option>
                                <option>false</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-2">Create</button>
                        </div>
                    </div>
                </form> 
            </div>
        </div>
        <table class="table table-fixed table-hover">
        <thead>
            <tr>
              <th class="col-xs-2">ID</th>
              <th class="col-xs-8">Name</th>
              <th class="col-xs-2">Lat</th>
              <th class="col-xs-2">Long</th>
              <th class="col-xs-2">Width(m)</th>
              <th class="col-xs-2">Depth(m)</th>
              <th class="col-xs-2">Wildlife</th>
              <th class="col-xs-2">Biome</th>
              <th class="col-xs-2">WaterHealth</th>             
              <th class="col-xs-2">Wildlife</th>
              <th class="col-xs-2">Wind Speed</th>
              <th class="col-xs-2">Water Currents</th>
              <th class="col-xs-2">Tide</th>
              <th class="col-xs-2">Invasive Species</th>
              <th class="col-xs-2">Residential</th>
              <th class="col-xs-2">Public Land</th>
              <th class="col-xs-2">Topography</th>
              <th class="col-xs-2"><input type="text" class="d-none"/></th>
              <th class="col-xs-8"><input type="text" class="d-none"/></th>
              <th class="col-xs-2"><input type="text"  class="d-none"/></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: self.sounds">
            <tr>
                        <th data-bind="text: id"></th>
                        @* <th data-bind="text: permissionReq">Permission Requirement</th> *@
                        <th data-bind="text: name"></th>
                        <th data-bind="text: coordinate_X"></th>
                        <th data-bind="text: coordinate_Y"></th> 
                        <th data-bind="text: width_m"></th>
                        <th data-bind="text: depth_m"></th> 
                        <th data-bind="text: wildlife"></th> 
                        <th data-bind="text: biome"></th>
                        <th data-bind="text: waterHealth"></th>
                        <th data-bind="text: speed"></th>
                        <th data-bind="text: currents"></th> 
                        <th data-bind="text: tides"></th>
                        <th data-bind="text: invasiveSpecies"></th>
                        <th data-bind="text: isResidential"></th>
                        <th data-bind="text: isPublicLands"></th>
                        <th data-bind="text: topography"></th>
                        <td>
                            <input type="button" value="Edit" data-bind="click: function () { EmpViewModel.editTemplate($data);}" />
                        </td>
                        <td>
                            <input type="button" value="delete" data-bind="click: function () { EmpViewModel.deleteEmployee($data); }" />
                        </td>
            </tr>
        </tbody>
        </table>
    </div>

</div>
