@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Aquatics";
}
@{
    var data = ViewBag.UserData;
}
<div id="authorization">
<h2>Welcome @data.FirstName</h2>
<p id="permissionValue" style="visibility: hidden">@data.Permission</p>
<h6>User Permission: <span data-bind="text: permission"></span></h6>
<h6>You are able to: <span data-bind="text: permissionDescription"></span></h6>
</div>

<script src="js/authorizationInfo.js"></script>