<div id="databaseManagement">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary my-4" data-bs-toggle="modal" data-bind="click: ViewModel.addRecord" data-bs-target="#exampleModal">
        Add New Record
    </button>

    <div id="exampleModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="ModalLabel" class="modal-title">Add Record</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body px-5 pt-5">
                    @* data-bind="submit: addRecord" *@
                    <form data-bind="submit:ViewModel.saveRecord" method="post" class="w-auto">
                        <div class="form-row justify-content-md-center">
                            <div class="col-md-10 col-lg-4 form-group">
                                <label class="sr-only" for="name">Name</label>
                                <input type="text" class="col form-control" data-bind="value: $data.Name" id="txtName" placeholder="Record Name">
                            </div>
                            <div class="col-md-10 col-lg-2 form-group">
                                <label class="sr-only" for="latitude">Latitude</label>
                                <input type="text" ValidChars="1234567890." class="col form-control" data-bind="value: $data.Coordinate_X" id="txtcoordinate_X" placeholder="Latitude">
                            </div>
                            <div class="col-md-10 col-lg-2 form-group">
                                <label class="sr-only" for="longitude">Longitude</label>
                                <input type="text" class="col form-control" ValidChars="1234567890." data-bind="value: $data.Coordinate_Y" id="txtcoordinate_Y" placeholder="Longitude">
                            </div>
                            <div class="col-md-10 col-lg-4 form-group">
                                <label class="sr-only" for="width">Width</label>
                                <input type="text" class="col form-control" ValidChars="1234567890." data-bind="value: $data.Width_m" id="txtwidth_m" placeholder="Width (Meters)">
                            </div>
                        </div>
                        <div class="form-row justify-content-md-center">
                            <div class="col-md-10 col-lg-2 form-group">
                                <label class="sr-only" for="depth">Depth</label>
                                <input type="text" class="col form-control" ValidChars="1234567890." data-bind="value: $data.Depth_m" id="txtdepth_m" placeholder="Depth (Meters)">
                            </div>
                            <div class="col-md-10 col-lg-4 form-group">
                                <label class="sr-only" for="wildLife">Wildlife</label>
                                <input type="text" class="col form-control" data-bind="value: $data.Wildlife" id="txtwildlife" placeholder="Wildlife">
                            </div>
                            <div class="col-md-10 col-lg-2 form-group">
                                <label class="sr-only" for="environmentBiome">Environment Biome</label>
                                <input type="text" class="col form-control" data-bind="value: $data.Biome" id="txtbiome" placeholder="Biome">
                            </div>
                            <div class="col-md-10 col-lg-4 form-group">
                                <label class="sr-only" for="waterHealth">Water Health</label>
                                <input type="text" class="col form-control" data-bind="value: $data.WaterHealth" id="txtwaterHealth" placeholder="Water Health">
                            </div>
                        </div>
                        <div class="form-row justify-content-md-center">
                            <div class="col-md-10 col-lg-2 form-group">
                                <label class="sr-only" for="windSpeed">Wind Speed (KPH)</label>
                                <input type="text" class="col form-control" ValidChars="1234567890." data-bind="value: $data.Speed" id="txtspeed" placeholder="Wind Speed">
                            </div>
                            <div class="col-md-10 col-lg-3 form-group">
                                <label class="sr-only" for="oceanicCurrents">Oceanic Currents</label>
                                <input type="text" class="col form-control" data-bind="value: $data.Currents" id="txtcurrents" placeholder="Currents">
                            </div>
                            <div class="col-md-10 col-lg-3 form-group">
                                <label class="sr-only" for="tides">Tides</label>
                                <input type="text" class="col form-control" data-bind="value: $data.Tides" id="txttides" placeholder="Tides">
                            </div>
                            <div class="col-md-10 col-lg-4 form-group">
                                <label class="sr-only" for="invasiveSpecies">Invasive Species</label>
                                <input type="text" class="col form-control" data-bind="value: $data.InvasiveSpecies" id="txtinvasiveSpecies" placeholder="Invasive Species">
                            </div>
                        </div>
                        <div class="form row justify-content-md-center">
                            <div class="input group col-md-10 col col-lg-4">
                                <div class="input-group-prepend col-10">
                                    <span class="input-group-text" id="basic-addon1">Residential Land</span>
                                </div>
                                <select class="col-10 form-select" data-bind="value: $data.IsResidential" id="txtisResidential" aria-label="Residential">
                                    <option>true</option>
                                    <option>false</option>
                                </select>
                            </div>
                            <div class="input group col col-lg-4">
                                <div class="input-group-prepend col-10">
                                    <span class="input-group-text" id="basic-addon1">Public Land</span>
                                </div>
                                <select class="col-10 form-select" data-bind="value: $data.IsPublicLands" id="txtisPublicLands" aira-label="Public Lands">
                                    <option>true</option>
                                    <option>false</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row mb-3">
                            <div class="col-2 form-group">
                                <label class="sr-only"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="comment">Comment:</label>
                            <textarea type="text" class="col form-control" rows="5" ValidChars="1234567890." data-bind="value: $data.Topology" id="txttopology" placeholder="Physical Features"></textarea>
                        </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" data-bs-dismiss="modal" type="submit">Create</button>
                </div>
                </form>
            </div>
        </div>
        </div>
    <table class="table w-auto table-responsive table-hover pl-2 shadow-lg">
        <thead id="dt_head" class="sticky-top shadow-lg p-3 mb-5 bg-body rounded">
            <tr>
                <th id="dt_th" class="align-middle col-sm-2 rounded-top-4 rounded-end-0" style="background-color: #51c7f3"><span class="pl-5">Name</span></th>
                <th class="text-center align-middle" style="background-color: #42c1f4"><span id="th_span">Latitude</span></th>
                <th class="text-center align-middle" style="background-color: #44bbf3"><span id="th_span">Longitude</span></th>
                <th class="text-center align-middle" style="background-color: #41b5f2"><span id="th_span">Width (meters)</span></th>
                <th class="text-center align-middle" style="background-color: #3ea4e4"><span id="th_span">Depth (meters)</span></th>
                <th class="text-center align-middle" style="background-color: #3ea4e4"><span id="th_span">Wildlife</span></th>
                <th class="text-center align-middle" style="background-color: #3d96da"><span id="th_span">Biome</span></th>
                <th class="text-center align-middle" style="background-color: #3d96da"><span id="th_span">Water Health</span></th>
                <th class="text-center align-middle" style="background-color: #3c89d1"><span id="th_span">Wind Speed</span></th>
                <th class="text-center align-middle" style="background-color: #3c89d1"><span id="th_span">Water Currents</span></th>
                <th class="text-center align-middle" style="background-color: #397bc7"><span id="th_span">Tide</span></th>
                <th class="text-center align-middle" style="background-color: #376ec0"><span id="th_span">Invasive Species</span></th>
                <th class="text-center align-middle" style="background-color: #3461b6"><span id="th_span">Residential Land</span></th>
                <th class="text-center align-middle" style="background-color: #3148a6"><span id="th_span">Public Land</span></th>
                <th class="text-center align-middle" style="background-color: #3148a6"><span id="th_span"></span>Topography Map</span></th>
                <th class="rounded-top-4 rounded-start-0" style="background-color: #3148a6"></th>
            </tr>
        </thead>
        <tbody class="flex w-100" data-bind="template: { foreach: sounds }">
            <tr class="flex w-80">
                <th class="pl-5 align-middle" data-bind="text: name"></th>
                <th class="text-center align-middle" data-bind="text: coordinate_X"></th>
                <th class="text-center align-middle" data-bind="text: coordinate_Y"></th>
                <th class="text-center align-middle" data-bind="text: width_m"></th>
                <th class="text-center align-middle" data-bind="text: depth_m"></th>
                <th class="text-center align-middle" data-bind="text: wildlife"></th>
                <th class="text-center align-middle" data-bind="text: biome"></th>
                <th class="text-center align-middle" data-bind="text: waterHealth"></th>
                <th class="text-center align-middle" data-bind="text: speed"></th>
                <th class="text-center align-middle" data-bind="text: currents"></th>
                <th class="text-center align-middle" data-bind="text: tides"></th>
                <th class="text-center align-middle" data-bind="text: invasiveSpecies"></th>
                <th class="text-center align-middle" data-bind="text: isResidential"></th>
                <th class="text-center align-middle" data-bind="text: isPublicLands"></th>
                <th class="text-center align-middle" data-bind="text: topography"></th>
                <td>
                    <button type="button" class="btn btn-outline-warning" value="delete" data-bind="click: function() { deleteRecord($data.id) }"><img style="width:3rem; padding-top:.4rem; padding-left:.25rem;" src="/img/trash-can.svg" /></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script src="js/leaflet-map.js"></script>
<script src="js/ajax-handler.js"></script>