<div id="databaseManagement">
        <button class="btn btn-primary" data-toggle="modal" data-bind="click: ViewModel.addRecord" data-target="#addRecordModal">Add Record</button>
        <div id="addRecordModal" class="modal w-auto" tabindex="-1" role="dialog">
            <div class="modal-content container mt-5">
                <div class="modal-header">
                    <h5 id="ModalLabel"class="modal-title">Add Record</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body px-5 pt-5">
                @* data-bind="submit: addRecord" *@
                <form data-bind="submit:ViewModel.saveRecord" method="post" class="w-auto">
                    <div class="form-row justify-content-md-center">
@*                         <div class="col-4 form-group">
                            <label class="sr-only" for="name">Id</label>
                            <input type="text" class="col form-control" data-bind="value: $data.id" placeholder="Record Name">
                        </div> *@
                        <div class="col-md-10 col-lg-4 form-group">
                            <label class="sr-only" for="name">Name</label>
                            <input type="text" class="col form-control" data-bind="value: $data.Name" id="txtName" placeholder="Record Name">
                        </div>
                        <div class="col-md-10 col-lg-2 form-group">
                            <label class="sr-only" for="latitude">Latitude</label>
                        <input type="text" ValidChars="1234567890." class="col form-control" data-bind="value: $data.Coordinate_X" id="txtcoordinate_X" placeholder="Latitude">
                        </div>
                        <div class="col-md-10 col-lg-2 form-group">
                            <label class="sr-only" for="longitude">Longitude</label>
                        <input type="text" class="col form-control" ValidChars="1234567890." data-bind="value: $data.Coordinate_Y" id="txtcoordinate_Y" placeholder="Longitude">
                        </div>
                        <div class="col-md-10 col-lg-4 form-group">
                            <label class="sr-only" for="width">Width</label>
                        <input type="text" class="col form-control" ValidChars="1234567890." data-bind="value: $data.Width_m" id="txtwidth_m" placeholder="Width (Meters)">
                        </div>
                    </div>
                    <div class="form-row justify-content-md-center">
                        <div class="col-md-10 col-lg-2 form-group">
                            <label class="sr-only" for="depth">Depth</label>
                        <input type="text" class="col form-control" ValidChars="1234567890." data-bind="value: $data.Depth_m" id="txtdepth_m" placeholder="Depth (Meters)">
                        </div>
                        <div class="col-md-10 col-lg-4 form-group">
                            <label class="sr-only" for="wildLife">Wildlife</label>
                        <input type="text" class="col form-control" data-bind="value: $data.Wildlife" id="txtwildlife" placeholder="Wildlife">
                        </div>
                        <div class="col-md-10 col-lg-2 form-group">
                            <label class="sr-only" for="environmentBiome">Environment Biome</label>
                            <input type="text" class="col form-control" data-bind="value: $data.Biome" id="txtbiome" placeholder="Biome">
                        </div>
                        <div class="col-md-10 col-lg-4 form-group">
                            <label class="sr-only" for="waterHealth">Water Health</label>
                            <input type="text" class="col form-control" data-bind="value: $data.WaterHealth" id="txtwaterHealth" placeholder="Water Health">
                        </div>
                    </div>
                    <div class="form-row justify-content-md-center">
                        <div class="col-md-10 col-lg-2 form-group">
                            <label class="sr-only" for="windSpeed">Wind Speed (KPH)</label>
                        <input type="text" class="col form-control" ValidChars="1234567890." data-bind="value: $data.Speed" id="txtspeed" placeholder="Wind Speed">
                        </div>
                        <div class="col-md-10 col-lg-3 form-group">
                            <label class="sr-only" for="oceanicCurrents">Oceanic Currents</label>
                            <input type="text" class="col form-control" data-bind="value: $data.Currents" id="txtcurrents" placeholder="Currents">
                        </div>
                        <div class="col-md-10 col-lg-3 form-group">
                            <label class="sr-only" for="tides">Tides</label>
                            <input type="text" class="col form-control" data-bind="value: $data.Tides" id="txttides" placeholder="Tides">
                        </div>
                        <div class="col-md-10 col-lg-4 form-group">
                            <label class="sr-only" for="invasiveSpecies">Invasive Species</label>
                            <input type="text" class="col form-control" data-bind="value: $data.InvasiveSpecies" id="txtinvasiveSpecies" placeholder="Invasive Species">
                        </div>
                    </div>
                    <div class="form row justify-content-md-center">
                        <div class="input group col-md-10 col col-lg-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Residential Land</span>
                                </div>
                                <select class="col-8 form-select" data-bind="value: $data.IsResidential" id="txtisResidential" aria-label="Residential">
                                    <option>true</option>
                                    <option>false</option>
                                </select>
                        </div>
                        <div class="input group col col-lg-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Public Land</span>
                            </div>
                            <select class="col-8 form-select" data-bind="value: $data.IsPublicLands" id="txtisPublicLands" aira-label="Public Lands">
                                <option>true</option>
                                <option>false</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="col-2 form-group">
                            <label class="sr-only"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                            <textarea type="text" class="col form-control" rows="5" ValidChars="1234567890." data-bind="value: $data.Topology" id="txttopology" placeholder="Physical Features"></textarea>
                    </div>
            </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>


        <table class="table table-fixed table-hover">
            <thead>
                <tr>
                    @* <th class="col-xs-2">ID</th> *@
                    <th class="col-xs-8">Name</th>
                    <th class="col-xs-2">Lat</th>
                    <th class="col-xs-2">Long</th>
                    <th class="col-xs-2">Width(m)</th>
                    <th class="col-xs-2">Depth(m)</th>
                    <th class="col-xs-2">Wildlife</th>
                    <th class="col-xs-2">Biome</th>
                    <th class="col-xs-2">WaterHealth</th>
                    <th class="col-xs-2">Wind Speed</th>
                    <th class="col-xs-2">Water Currents</th>
                    <th class="col-xs-2">Tide</th>
                    <th class="col-xs-2">Invasive Species</th>
                    <th class="col-xs-2">Residential</th>
                    <th class="col-xs-2">Public Land</th>
                    <th class="col-xs-2">Topography</th>
                    <th class="col-xs-2"><input type="text" class="d-none" /></th>
                    <th class="col-xs-8"><input type="text" class="d-none" /></th>
                    <th class="col-xs-2"><input type="text" class="d-none" /></th>
                </tr>
            </thead>
        <tbody data-bind="template: { foreach: sounds }">
                <tr>
                    @* <th data-bind="text: permissionReq">Permission Requirement</th> *@
                    <th data-bind="text: name"></th>
                    <th data-bind="text: coordinate_X"></th>
                    <th data-bind="text: coordinate_Y"></th>
                    <th data-bind="text: width_m"></th>
                    <th data-bind="text: depth_m"></th>
                    <th data-bind="text: wildlife"></th>
                    <th data-bind="text: biome"></th>
                    <th data-bind="text: waterHealth"></th>
                    <th data-bind="text: speed"></th>
                    <th data-bind="text: currents"></th>
                    <th data-bind="text: tides"></th>
                    <th data-bind="text: invasiveSpecies"></th>
                    <th data-bind="text: isResidential"></th>
                    <th data-bind="text: isPublicLands"></th>
                    <th data-bind="text: topography"></th>
                    <td>
                    <input type="button" value="delete" data-bind="click: ViewModel.deleteRecord(${idRef})" />
                    </td>
                </tr>
            </tbody>
        </table>
</div>

<script src="js/addRecord.js"></script>