<script type="text/html" id="readonlyTemplate">
<table>
    <tr>
      <td>
       <span data-bind="text: "></span>
      </td>
      <td>
       <span data-bind="text: EmpName"></span>
      </td>
      <td>
       <span data-bind="text: DeptName"></span>
      </td>
      <td>
       <span data-bind="text: Designation"></span>
      </td>
      <td>
       <span data-bind="text: Salary"></span>
      </td>
      <td>
       <input type="button" value="Edit" data-bind="click: function () { EmpViewModel.editTemplate($data);}"/>
      </td>
      <td>
       <input type="button" value="delete" data-bind="click: function () { EmpViewModel.delete($data); }"/>
      </td>
    </tr>
</table>
</script>