
/* Set padding to keep content from hitting the edges */

img#deletepng {
    width: 33px;
    position: relative;
    vertical-align: middle;
    border-style: none;
}

#deletepng {
    width: 33px;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5) !important
}

table.table.w-auto.table-responsive.table-hover.pl-2 {
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-height: 400px !important;
}

tbody, td, tfoot, th, thead, tr:hover {
    background-color: blue;
}

/* Set width on the form input elements since they're 100% wide by default */
#msg {
    visibility: hidden;
}

#map {
    height: 180px;
}

.error-messages {
    color: red;
}

.hide {
    visibility: hidden;
    position: relative;
}

img#deleteImg {
    width: 33px;
    position: relative;
    vertical-align: middle;
    border-style: none;
}

#deleteImg {
    width: 33px;
}
