body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

img#deletepng {
    width: 33px;
    position: relative;
    vertical-align: middle;
    border-style: none;
}

#deletepng {
    width: 33px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#msg {
    visibility: hidden;
}

.error-messages {
    color: red;
}

.hide {
    visibility: hidden;
    position: relative;
}

img#deleteImg {
    width: 33px;
    position: relative;
    vertical-align: middle;
    border-style: none;
}

#deleteImg {
    width: 33px;
}

